<form onsubmit="return addProduct(this)" class="cuerpoform" >
    <input type="text" name="title" id="title" placeholder="Nombre"><br>
    <input type="number" name="price" id="price" placeholder="Precio"><br>
    <input type="text" name="thumbnail" id="thumbnail" placeholder="URL de Imagen"><br><br>
    <input type="submit" value="Submit">
  </form>
