<link href="/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Tus productos:</h2>
<% if(list.length > 0){ %>
<ul class="listmain">
    <% list.forEach(prod => { %>
    <li class="list"><%= prod.title %> $<%= prod.price %> <img class="image" src=<%= prod.thumbnail %>></li>
    <% }) %>
</ul>
<% }else{ %>
    <h1>No hay productos</h1>
<% } %>
<input type="button" class="botonVolver" value="Volver al Formulario" onclick="location.href='/'">